.title-shopping-cart{
  margin-bottom: 1rem;
}

.container-for-the-item-details-in-the-cart{
  align-items: center;
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 1rem;
}

.price-span{
  /* margin-right: 1rem; */
}

.subtract-item-container{
  align-items: center;
  display: flex;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-content: center;
}

.subtract-item{
  cursor: pointer;
}

.amount-item-container{
  align-items: center;
  display: flex;
  grid-column-start: 4;
  grid-column-end: 5;
  justify-content: center;
}

.add-item-container{
  align-items: center;
  display: flex;
  grid-column-start: 5;
  grid-column-end: 6;
  justify-content: center;
}

.add-item{
  cursor: pointer;
}

.remove-item{
  /* border: 1px solid blue; */
  /* background-color: white; */
  color: white;
  display: flex;
  justify-content: center;
  grid-column-start: 11;
  grid-column-end: 12;
  /* width: 2.1rem; */
}

.logo-to-remove-item-from-cart{
  border: 1px solid hsl(0, 70%, 26%);
  background-color: white;
  border-radius: 50%;
  padding: 0.15rem;
  /* display: flex; */
  width: 2.8rem;
}