*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 2rem;
}

.main-login-page{
  /* border: 5px solid blue; */
  background-color: hsl(34, 65%, 87%);
  min-height: 100vh;
  padding-top: 8rem;
}

.div-container-login-page{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.form-login{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 12;
}